<%= form_with(model: param) do |form| %>
  <% if param.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(param.errors.count, "error") %> prohibited this param from being saved:</h2>

      <ul>
        <% param.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :int_content, style: "display: block" %>
    <%= form.number_field :int_content %>
  </div>

  <div>
    <%= form.label :str_content, style: "display: block" %>
    <%= form.text_field :str_content %>
  </div>

  <div>
    <%= form.label :bol_content, style: "display: block" %>
    <%= form.check_box :bol_content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
