<div id="<%= dom_id param %>">
  <p>
    <strong>Name:</strong>
    <%= param.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= param.description %>
  </p>

  <p>
    <strong>Int content:</strong>
    <%= param.int_content %>
  </p>

  <p>
    <strong>Str content:</strong>
    <%= param.str_content %>
  </p>

  <p>
    <strong>Bol content:</strong>
    <%= param.bol_content %>
  </p>

</div>
