<div id="<%= dom_id currency %>">
  <p>
    <strong>Name:</strong>
    <%= currency.name %>
  </p>

  <p>
    <strong>Iso code:</strong>
    <%= currency.iso_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= currency.country_id %>
  </p>

  <p>
    <strong>Short code:</strong>
    <%= currency.short_code %>
  </p>

</div>
