<div id="<%= dom_id client %>">
  <p>
    <strong>Fiscal name:</strong>
    <%= client.fiscal_name %>
  </p>

  <p>
    <strong>Comercial name:</strong>
    <%= client.comercial_name %>
  </p>

  <p>
    <strong>Fiscal address:</strong>
    <%= client.fiscal_address %>
  </p>

  <p>
    <strong>Comercial address:</strong>
    <%= client.comercial_address %>
  </p>

  <p>
    <strong>Base64 code:</strong>
    <%= client.base64_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country_id %>
  </p>

  <p>
    <strong>Taxrule:</strong>
    <%= client.taxrule_id %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= client.currency_id %>
  </p>

</div>
