<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Clients" %>

<h1>Clients</h1>
<%= link_to "Add New Client(+)", new_client_path %>

<div class="digg_pagination">
  <%= will_paginate @clients, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label"), :container => false %>
</div>

<div>
    <%= form_with url: clients_path, method: :get do %>
      <%= text_field_tag "filter",  @filter, placeholder: "Filter", class: "inline-block" %>
    <% end %> 
</div>

<table id="codes-table" class="display">
  <thead>
    <tr>
      <th>Fiscal Name</th>
      <th>Comercial Name</th>
      <th>Country</th>
      <th>Comercial Address</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.fiscal_name %></td>
        <td><%= client.comercial_name %></td>
        <td><%= client.country.iso_code %></td>
        <td><%= client.comercial_address %></td>
        <td><%= client.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to 'Show', client_info_path(:access => client.base64_code, :page => params[:page]), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>