<div id="<%= dom_id product %>">
  <p>
    <strong>Short code:</strong>
    <%= product.short_code %>
  </p>

  <p>
    <strong>Long code:</strong>
    <%= product.long_code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Base code64:</strong>
    <%= product.base64_code %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= product.brand_id %>
  </p>

  <p>
    <strong>Unit measure:</strong>
    <%= product.unit_measure_id %>
  </p>

</div>
