<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Products" %>

<%= link_to "New product", new_product_path %>
<%= link_to "Get Excel Template", products_path(format: "xlsx") %>

<% if @array_bit_ok_log.present? %>
<h3>Se ha realizado carga existosa de <%= @array_bit_ok_log.count %></h3>
<% end %>

<% if @array_bit_error_log.present? %>
  <h3>Carga Realizada con errores</h3>
  <table id="error-log-table" class="display">
    <tbody>
      <% @array_bit_error_log.each do |this_bit| %>
        <tr><td><%= this_bit.data3 %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %> 

<%= form_with(url: import_products_path, local: true, multipart: true) do |form| %>
  <%= form.file_field :file %>
  <%= form.submit "Import" %>
<% end %>

<h1>Products</h1>

<div class="digg_pagination">
  <%= will_paginate @products, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label"), :container => false %>
</div>

<table id="codes-table" class="display">
  <thead>
    <tr>
      <th>Long Code</th>
      <th>Description</th>
      <th>Unit Measure</th>
      <th>Brand</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.long_code %></td>
        <td><%= product.description %></td>
        <td><%= product.unit_measure.iso_code %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to 'Show', product_path(product), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

