<style>
  .solid-border {
    border: 2px solid white;
    padding: 5px;
    margin: 5px;
  }
</style>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<% content_for :title, "Products" %>

<div class="solid-border">
<table>
    <tbody>
      <tr><td>
        <%= link_to "Create New Product (+)", new_product_path %>
      </td></tr>
    </tbody>
  </table>
</div>
<div class="solid-border">
  <table>
    <tbody>
      <tr><td><%= link_to "History Load Data", products_load_data_index_path %></td></tr>
      <tr><td><%= link_to "Get Upload Excel Template", products_path(format: "xlsx") %></td></tr>
    </tbody>
  </table>
  <%= form_with(url: import_products_path, local: true, multipart: true) do |form| %>
    <%= form.file_field :file %>
    <%= form.submit "Import" %>
  <% end %>
</div>

<h1>Products</h1>

<div class="digg_pagination">
  <%= will_paginate @products, :previous_label => t("will_paginate.previous_label"), :next_label => t("will_paginate.next_label"), :container => false %>
</div>

<table id="codes-table" class="display">
  <thead>
    <tr>
      <th>Long Code</th>
      <th>Description</th>
      <th>Unit Measure</th>
      <th>Brand</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.long_code %></td>
        <td><%= product.description %></td>
        <td><%= product.unit_measure.iso_code %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td><%= link_to 'Show', product_info_path(:access => product.base64_code, :page => params[:page]), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

